appinst==2.1.5
apptools==4.4.0
atom==0.3.10
attrs==15.2.0
backports-abc==0.4
beautifulsoup4==4.4.1
boto==2.40.0
Canopy==1.7.4.3348
canopy-dashboard==0.7.19
canopy-packman-plugin==0.1.19
canopy-platform==0.9.12
CanopyDebugger==0.1.2.dev0
casuarius==1.1
catalyst==1.0.2
certifi==2016.2.28
cffi==1.9.1
chaco==4.5.0
chardet==2.3.0
click==6.6
codetools==4.2.0
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
cryptography==1.7.2
cycler==0.10.0
decorator==4.0.9
distribute-remove==1.0.0
Django==1.9.12
django-alexa==0.0.7
django-allauth==0.30.0
django-crispy-forms==1.6.1
django-filter==1.0.1
django-template-utils==0.1.1
djangorestframework==3.5.3
docutils==0.12
ecdsa==0.13
enable==4.5.1
enaml==0.9.8
enapp==1.0.0
enclosure==0.4.3
encore==0.6.0
enstaller==4.8.12
entrypoints==0.2.2
enum34==1.1.6
envisage==4.5.1
esky==0.9.8
Examples==7.3
faulthandler==2.4
feedparser==5.2.1
flake8==2.5.1
futures==3.0.3
graphene==1.1.3
graphene-django==1.2.1
graphql-core==1.0.1
graphql-relay==0.4.5
grits-client==0.1
hatcher==0.10.1
html5lib==0.999
httplib2==0.10.2
humanize==0.5.1
idle==2.7.3
idna==2.2
intel-runtime==14.0.6.241
ipaddress==1.0.18
ipykernel==4.3.1
ipython==4.0.0
ipython-genutils==0.1.0
ipython4==4.1.2
ipywidgets==5.1.5
iso8601==0.1.11
jigna==0.9.9
Jinja2==2.8
jsonpickle==0.4.0
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
kernmagic==0.2.0
keyring==4.0
kiwisolver==0.1.3
libopenjpeg==2.1.0
libpng==1.6.12
libsodium==1.0.3
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.3.1
memory-profiler==0.41
mistune==0.7.1
MKL==2017.0.1
mkl-service==1.0
mpmath==0.19
nbconvert==6.5.1
nbformat==4.0.1
nose==1.3.7
notebook==4.2.1
numpy==1.11.3
oauthlib==2.0.1
okonomiyaki==0.15.0
pandas==0.19.2
paramiko==2.1.1
path.py==8.1.1
patsy==0.4.1
pep8==1.7.0
pexpect==2.4
pickleshare==0.5
PIL-remove==1.0.0
pillow==3.2.0
plotly==1.9.10
ply==3.8
promise==1.0.1
psutil==3.3.0
pyasn1==0.1.9
pyaudio==0.2.4
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pydot2==1.0.33
pyface==5.1.0
pyflakes==1.1.0
pyglet==1.1.4
Pygments==2.1.3
pyOpenSSL==16.2.0
pyparsing==2.0.3
pyreadline==2.1
PySide==1.2.2
pysolr==3.6.0
python-dateutil==2.5.2
python-openid==2.2.5
pytz==2015.4
pywin32==220
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.2.1
requests==2.10.0
requests-oauthlib==0.7.0
rsa==3.1.2
scikit-learn==0.18.1
scipy==0.18.1
shiboken==1.2.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
ssl-match-hostname==3.4.0.2
statsmodels==0.6.1
supplement==0.5.dev0
sympy==1.0
tabulate==0.7.3
tornado==4.3
traitlets==4.2.1
traits==4.5.0
traits-enaml==0.2.1
traitsui==5.1.0
twilio==5.7.0
typing==3.5.3.0
tzlocal==1.2
watson-developer-cloud==0.23.0
wxPython==3.0.2.0
xlrd==0.9.4
zeromq==4.1.3
zipfile2==0.0.12
