{% extends 'base.html' %}
  {% load staticfiles %}  

  {% load crispy_forms_tags %}

{%block style%}
<style type="text/css">
     #map {
        width: 500px;
        height: 500px;
      }
    
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 10%;
   position: fixed;
   display: block;
   opacity: 1.0;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 200px;
  left: 340px;
  z-index: 100;
}

</style>

{% endblock %}

{%block script%}

<script language="javascript" type="text/javascript">
     window.onload = window.setTimeout(function() {
    document.getElementById("loading").style.display = "none"
}, 2000);
     // function(){ 
     //  document.getElementById("loading").style.display = "none" } 
</script>

{%endblock%}
{% block content %}

<div id="loading">
  <img id="loading-image" src='{% static "images/pages/flamingo.gif" %}' alt="Loading..." />
</div>


    <div class="container-fluid marketing">
<div class ="col-md-8 col-md-offset-2">

      <div class ="row">
        {%if profile %}
          <br>
          <h3><center><u> These are the profiles similar to {{profile}}  </center> </h3></u></h3> 
          <br><hr>
        {%endif %}

    {%for i, j in similarprofiles%}
      <a class="label" style=" font-size:  15px ;  line-height: 2.5em ;background:{{j}}"   href="{% url 'closematch' i %}"><b>{{i}}</b></a>

      {%endfor%}    

      <br><br><hr>
    <center><a class="btn btn-lg btn-danger" href="{% url 'skillsgeog' profile %}" role="button"> Take me to the Skills Map <i class="fa fa-globe" aria-hidden="true"></i> &raquo;</a> </center>


 
</center>





      <!-- /.row --> 
      <br/>

    
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{%endblock%}

